
<ion-view view-title="About">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons>
        <p>
            <a class="button icon icon-left ion-chevron-left" href="#" ng-click="back()">
            </a>
        </p>
    </ion-nav-buttons>

    <ion-content class="padding">
        <div style="text-align:center">
            <h4>TalkApp</h4>
            <p>A chatting app built with <a href="https://cordova.apache.org/">Apache Cordova</a> and <a href="http://ionicframework.com/">Ionic Framework</a>.</p>
            <p>Version: 0.1 beta</p>
        </div>
    </ion-content>

</ion-view>