
<div class="list">
	<label class="item item-input">
			<img class="login-img" src="img/noavatar.png">
		<input id="file-input" type="file" ng-model="data.picture">
	</label>
	<label class="item item-input">
		<span class="input-label">Name</span>
		<input type="text" ng-model="data.name">
	</label>
	<label class="item item-input">
		<span class="input-label">Status</span>
		<input type="text" ng-model="data.status">
	</label>
	<label class="item item-input">
		<span class="input-label">Phone number</span>
		<input type="text" ng-model="data.phone_number">
	</label>
</div>