
<ion-view view-title="Messages">

    <ion-content>
        <div class="list">
        	<a class="item item-avatar" href="#/message-detail" ng-click="showMessageDetails($event)" ng-repeat="message in messages | orderBy: 'name'">
        		<img src="img/noavatar.png">
        		<h2 class="contact-name">{{message.name}}</h2>
        		<p class="message-date">{{message.date}}</p>
        	</a>
        </div>
    </ion-content>

    <ion-nav-buttons side="right">
        <button class="button icon ion-navicon-round" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>

</ion-view>