
<form name="newContactForm">
	<div class="list">
		<label class="item item-input">
			<img class="login-img" src="img/noavatar.png">
			<input id="file-input" class="hidden" type="file" ng-model="data.picture">
		</label>
		<label class="item item-input">
			<span class="input-label">Name</span>
			<input type="text" ng-model="data.name" required>
		</label>
		<label class="item item-input">
			<span class="input-label">Phone number</span>
			<input type="text" ng-model="data.phoneNumber">
		</label>
		<div class="error-msg">
			<p ng-class="empty_fields">You must fill out name, status and phone number!</p>
		</div>
	</div>
</form>
