
<ion-popover-view  ng-controller="NavPopoverCtrl">
    <ion-content>
        <ul class="list" ng-click="close();">
            <a class="item" href="#/">
                New message
            </a>
            <a class="item" href="#/">
                New contact
            </a>
            <a class="item" href="#/tab/contacts">
                Contacts
            </a>
            <a class="item" href="#/">
                Settings
            </a>
            <a class="item" href="#/about" ng-click="do();">
                About
            </a>
        </ul>
    </ion-content>
</ion-popover-view>