
<ion-view ng-controller="TalkDetailCtrl" view-title="{{contact_name}}">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons>
        <p>
            <a class="button icon icon-left ion-chevron-left" href="#/tab/talks">
            </a>
        </p>
    </ion-nav-buttons>

    <ion-content class="talks-detail">
        <div class="list">
            <div class="item" ng-repeat="msg in talks">
                <p>{{msg.message}}</p>
            </div>
        </div>
    </ion-content>

</ion-view>