
<ion-view ng-controller="TalkDetailCtrl" view-title="{{contactName}}">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-buttons>
        <p>
            <a class="button icon icon-left ion-chevron-left" href="#/tab/talks">
            </a>
        </p>
    </ion-nav-buttons>

    <ion-content class="talks-detail">
        <ion-list >
            <ion-item class="shadow" ng-style="message.style" ng-repeat="message in talk.messages">
                <p class="bold message-user">{{ message.userId.name }}</p>
                <p class="message-text">{{ message.text }}</p>
                <p class="message-date">{{ message.createdDate | date:'dd/MM/yyyy hh:mm' }}</p>
            </ion-item>
        </ion-list>
    </ion-content>

    <ion-footer-bar keyboard-attach class="item-input-inset add-message-bar">
        <label class="item-input-wrapper">
            <i class="icon ion-chatbubbles placeholder-icon"></i>
            <input type="text" placeholder="Talk..." ng-model="messageToAdd">
        </label>
        <button class="button-send button ion-paper-airplane" ng-click="addMessage()"></button>
    </ion-footer-bar>

</ion-view>