
<ion-view view-title="Talks">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>

    <ion-content>
        <div class="list">
        	<a class="item item-avatar" href="#/talk-detail" ng-click="showTalkDetails(talk.id, talk.name)" ng-repeat="talk in talks | orderBy:'name'">
        		<img src="img/noavatar.png">
        		<h2 class="contact-name">{{ talk.name }}</h2>
        		<p class="talk-date">{{ talk.lastDate | date:'dd/MM/yyyy hh:mm' }}</p>
        	</a>
        </div>
    </ion-content>

    <ion-nav-buttons side="right">
        <button class="button icon ion-navicon-round" ng-click="openPopover($event)"></button>
    </ion-nav-buttons>

</ion-view>