/* Empty. Add your own CSS if you like */

.hidden {
	display: none;
}

.bold {
	font-weight: bold;
}

.modal .popup {
	width: 420px;
	max-width: 95%;
	border-radius: 10px;
}
.modal .popup #file-input {
	display: none;
}
.modal .error-msg {
	width: 100%;
	overflow: hidden;
}
@keyframes slide-down-red {
	from {
		margin-top: -100%;
		height: 300%;
	}
	to {
		color: red;
		margin-top: 0%;
		height: 100%;
	}
}
.modal .empty-fields-error {
	animation: 0.5s slide-down-red;
	margin-top: 10px;
	color: red;
}
.login-img {
	border-radius: 100px;
	display: block;
	margin: 0px auto;
	height: 140px;
	width: 140px;
}
.loading-content .scroll {
	height: 100%;
	width: 100%;
}
.spinner {
	margin: auto;
	display: flex;
	height: 100%;
	width: 100%;
}
.spinner svg {
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
}

h2.contact-name {
	font-weight: bold;
}

p.talk-date {
	font-size: 10px;
	color: rgb(150,150,150);
}

/* Talks detail */
.talks-detail {
	background-color: rgb(240,240,240);
}

.talks-detail .list {

}

.talks-detail .item {
	border-radius: 10px;
	margin-top: 7px;
	margin-right: 7px;
	padding: 4px 8px 4px 8px;
	min-width: 30%;
	max-width: 70%;
}

.talks-detail .message-user {
	color: blue;
}

.talks-detail .message-date {
	font-size: 10px;
	color: rgb(150,150,150);
	text-align: right;
}

.talks-detail .message-text {
	white-space: pre-wrap;
}

.add-message-bar {
	background-color: rgb(240,240,240);
	border-radius: 20px;
}

.button-send, .button-send:hover {
	border-radius: 50%;
	background-color: #35d;
	color: white;
	width: 40px;
	height: 40px;
}

.shadow {
	box-shadow: 2px 2px 3px grey;
}